@import "src/styles/variables";
@import "src/styles/spacing";
@import "src/styles/breakpoints";

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inviteCard {
  background-color: $text-black-matt;
  border-radius: 5px;
  padding: 40px 20px 30px;
  position: relative;
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonAlign {
  display: flex;
  gap: s(5);
  margin: s(6) 0;
}

.adresse {
  background-color: $text-black-matt;
  border-radius: 5px;
  padding: 40px 20px 30px;
  position: relative;
  width: 100%;
  height: fit-content;
  color: white;
}

.openingHoursCard {
  background-color: $color-secondary;
  padding: 0 20px 20px;
  border-radius: 5px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@include tablet {
  .container {
    display: flex;
    flex-direction: column;
  }
  .buttonAlign {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .openingHoursCard {
    width: 100%;
  }
}

@include phone {
  .openingHoursCard {
    width: 100%;
  }
}
