@import "src/styles/spacing";
@import "src/styles/variables";
@import "src/styles/breakpoints";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 s(5);
  background-color: $color-primary;
  height: 80px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: s(5);
}
.nav li {
  list-style: none;
}

.navActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: $color-primary;
  height: 80px;
  position: fixed;
}

.navActive ul {
  display: flex;
  justify-content: space-between;
  gap: s(5);
}
.navActive li {
  list-style: none;
  font-size: 24px;
}

.styledLink {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: s(2);
  color: white;
}

.navigation {
  display: flex;
  align-items: center;
  gap: s(10);
}

.mobileNavigation {
  display: none;
}

.mobileNavBar {
  overflow-y: hidden;
}

.socialIcon {
  position: absolute;
  bottom: calc(-100vh + 80px + s(5));
}

@include tablet {
  .navigation {
    display: none;
  }

  .mobileNavigation {
    display: flex;
    align-items: center;
    top: 0;
  }

  .mobileNavigation ul {
    background-color: $color-primary;
    height: calc(100vh - 79px);
    width: 100vw;
    position: fixed;
    top: 58px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 80px;
  }
}
