@import "src/styles/spacing";
@import "src/styles/variables";

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: s(5);
}
.nav li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.styledLink {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: s(2);
  color: white;
}

.mobileNavigation {
  display: none;
}

@media (max-width: 768px) {
  .mobileNavigation {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: none;
  }
  .mobileNavigation ul {
    background-color: $color-primary;
    height: calc(100vh - 79px);
    width: 100vw;
    position: absolute;
    top: 58px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 80px;
  }
}
