// Headlines
$heading-1-size: 1.602rem;
$heading-2-size: 1.424rem;
$heading-3-size: 1.266rem;
$heading-4-size: 1.125rem;

// Text Sizes
$text-size-large: 1.125rem;
$text-size-normal: 1rem;
$text-size-small: 0.875rem;

// Colors
$color-primary: #3f7d20;
$color-primary-light: #cadcc1;
$color-secondary: #72b01d;
$color-black: #333;
$color-accent: #dfe155;
$color-accent-secondary: #e28a32;
$color-tone: #454955;
$color-background: #f3eff5;

// Text Colors
$text-black-matt: #333;
$text-white-matt: rgb(229, 229, 229);
$text-gray: rgb(180, 180, 180);
