// Headlines
$heading-1-size: 1.602rem;
$heading-2-size: 1.424rem;
$heading-3-size: 1.266rem;
$heading-4-size: 1.125rem;

// Colors
$color-primary: #3f7d20;
$color-primary-light: #cadcc1;
$color-secondary: #72b01d;
$color-black: #0d0a0b;
$color-accent: #dfe155;
$color-accent-secondary: #9c8ed8;
$color-tone: #454955;
$color-background: #f3eff5;

// Text Colors
$text-black-matt: rgb(26, 26, 26);
$text-white-matt: rgb(229, 229, 229);
$text-grey: rgb(180, 180, 180);
