@import "src/styles/spacing";
@import "src/styles/variables";
@import "src/styles/breakpoints";

.section {
  padding: 140px 0 140px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeryContainer {
  width: 100%;
  display: flex;
  gap: s(10);
  overflow-x: auto;
  margin: s(10) 0;
  position: relative;
  padding-left: 20px;
}

.productImage {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}

.productName {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 20px;
  font-size: $heading-1-size;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 5px 5px;
}

@include tablet {
  .section {
    padding: 100px 0 100px;
  }
  .galeryContainer {
    padding-left: 10vw;
  }
  .productImage {
    width: 300px;
    height: 400px;
  }
  .productName {
    width: 300px;
  }
}

@include phone {
  .section {
    padding: 60px 0 60px;
  }
  .galeryContainer {
    padding-left: 20px;
  }
  .productImage {
    width: 250px;
    height: 400px;
  }
  .productName {
    width: 250px;
  }
}
