@import "src/styles/spacing";
@import "src/styles/breakpoints";

.container {
  display: flex;
  gap: s(10);
  align-items: center;
  justify-content: space-around;
}

.info {
  width: 450px;
}

.logo {
  height: 400px;
}

.buttonAlign {
  display: flex;
  gap: s(5);
}

@include tablet {
  .container {
    display: flex;
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
}
