@import "src/styles/variables";

.btn {
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

/* Button Colors and Styles */
.primary {
  background-color: $color-primary;
  color: white;
  border: none;
}

.warning {
  background-color: $color-accent;
  color: $text-black-matt;
  border: none;
}

.danger {
  background-color: $color-accent-secondary;
  color: white;
  border: none;
}

.succes {
  background-color: $color-primary-light;
  color: $text-black-matt;
  border: none;
}

.primary--outline {
  background-color: transparent;
  color: $color-primary;
  border: none;
  border: 2px solid $color-primary;
}

.warning--outline {
  background-color: transparent;
  color: $color-accent;
  border: none;
  border: 2px solid $color-accent;
}

.danger--outline {
  background-color: transparent;
  color: $color-accent-secondary;
  border: none;
  border: 2px solid $color-accent-secondary;
}

.succes--outline {
  background-color: transparent;
  color: $color-primary-light;
  border: none;
  border: 2px solid $color-primary-light;
}

/* Button Sizes */
.small {
  padding: 10px 25px;
  font-size: 14px;
}

.medium {
  padding: 10px 25px;
  font-size: 16px;
}

.large {
  padding: 10px 25px;
  font-size: 18px;
}
