@import "src/styles/variables";
@import "src/styles/spacing";

.paragraph {
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
  margin: s(2) 0;
}

/* Paragraph text style */

.normal {
  font-size: $heading-4-size;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 12px;
}

/* Paragraph text color */

.normal {
  color: $text-black-matt;
}

.gray {
  color: $text-gray;
}

.light {
  color: white;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}

.accent {
  color: $color-accent;
}

.danger {
  color: $color-accent-secondary;
}
