@import "src/styles/variables";

.paragraph {
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
}

/* Paragraph text style */

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 12px;
}

/* Paragraph text color */

.normal {
  color: $text-black-matt;
}

.gray {
  color: $text-gray;
}

.light {
  color: $text-white-matt;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}

.accent {
  color: $color-accent;
}

.danger {
  color: $color-accent-secondary;
}
