@import "src/styles/spacing";
@import "src/styles/variables";
@import "src/styles/breakpoints";

.footer {
  background-color: $color-black;
  padding: 30px 50px 30px 50px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 5vw;
}

.information {
  width: 60vw;
  display: flex;
  gap: s(7);
  justify-content: space-between;
  color: $text-gray;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  margin-bottom: s(3);
  padding: 0;
}

.list li {
  list-style: none;
  font-size: $text-size-normal;
  color: $text-gray;
}

.mail {
  color: $text-white-matt;
  text-decoration: none;
}

.divider {
  color: $text-white-matt;
}

.stamp {
  width: 100%;
  display: flex;
  justify-content: center;
}

@include tablet {
  .container {
    display: flex;
    flex-direction: column;
    gap: s(12);
    padding: 0;
  }
  .information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}

@include phone {
  .container {
    display: flex;
    flex-direction: column;
    gap: s(12);
    padding: 0;
  }
  .information {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: s(2);
  }
}
