@import "src/styles/spacing";
@import "src/styles/breakpoints";

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar1 {
  transform: translateY(8px) rotate(45deg);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: translateY(-8px) rotate(-45deg);
}

@include tablet {
  .burger {
    display: block;
  }
}
